@using SmartHouse.Models
@using SmartHouse.Models.Interfaces
@model Device

@{
    ViewBag.Title = "WebApi";
    Layout = "~/Views/Shared/_LayoutApi.cshtml";
}

<div id="content" class="api-content">
    <div class="text">
        <h1>Return to the MVC page and select the device: Tv</h1>
    </div>
</div>
